*{
    box-sizing: border-box;
}
:root{
    --colorMainGreen:#71A894;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 107px;
  
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-content{
    display: flex;
    align-items: center;
}
.logo-content img{
    margin-right: 8px;
}
.logo-content h1{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 4%;
    

}
.navbar ul{
    display: flex;
}
.navbar li{
    margin-left: 40px;
}

.navbar li:last-child a{
    color:#71A894;
}
.navbar li{
    font-size: 18px;

    font-weight: 500;
    
}
.navbar li a{
    color: #303031;
}
.navbar a:hover{
    color: var(--colorMainGreen);
}
.navbar-phone{
    display: none;
}
.menu{
    background: transparent;
    border: none;
    display: none;
}   
.heading{
    height: 248px;
    flex: 50%;
    border: 1px solid black;
    margin-left: 56px;
    margin-top: 154px;

    

}
.heading h1{
    height: 160px;
   
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
    color: #303031;
}
.heading p{
    height: 64px;
    margin-top: 154px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #66645E;
   
}
.first{
    display: flex;
    
}
.image{
    flex: 50%;
    height: 500px;
    margin-top: 150px;
    margin-left: 56px;
  
 
    

}
.image img{
    width: 100%;
    height: 100%;
    
    
}
/*section2*/
.heading2{
   height: 64px;
    margin-top: 40px;
    margin: 10px;


    
}
.heading2 h2{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    

}
.description{
    height: 52px;
    margin: 10px;
    width: 500px;
    margin: 0 auto;
    

}
.description p{
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
.card1{
    width: 327px;
    height: 240px;
    border: 1px solid black;
    margin-left: 56px;
    margin-top: 48px;
    margin-right: 23px;
    margin-bottom: 40px;

    

}
.card1 img{
    width: 64px;
    height: 64px;
    border: 1px solid red;
    margin: 20px;
}
.card-title h3{
    text-align: center;
    margin: 10px;
    font-weight: 700;
    font-size: 24px;
}
.card-text p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 5px;
    padding: 5px;
}
.card2{
    width: 327px;
    height: 240px;
    border: 1px solid black;
    margin-left: 56px;
    margin-top: 48px;
    margin-right: 23px;
    margin-bottom: 40px;

    

}
.card1 img{
    width: 64px;
    height: 64px;
    border: 1px solid red;
    margin: 20px;
}
.card-title h3{
    text-align: center;
    margin: 10px;
    font-weight: 700;
    font-size: 24px;
}
.card-text p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 5px;
    padding: 5px;
}
.card3{
    width: 327px;
    height: 240px;
    border: 1px solid black;
    margin-left: 56px;
    margin-top: 48px;
    margin-right: 23px;
    margin-bottom: 40px;

    

}
.card1 img{
    width: 64px;
    height: 64px;
    border: 1px solid red;
    margin: 20px;
}
.card-title h3{
    text-align: center;
    margin: 10px;
    font-weight: 700;
    font-size: 24px;
}
.card-text p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 5px;
    padding: 5px;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffff;
}
/* section3 */
.info-content{
    width: 450px;
    height: 300px;
    border: 1px solid black;
    margin-left: 56px;
    margin-right: 20;
    margin-bottom: 20px;

    margin-top: 50px;

}
.title3 h3{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin: 15px;
    margin-left: 0;
    

}
.title3  p{
    margin: 20px;
    padding: 10px;

}
.members{
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin: 50px;
}
.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*section4*/
.info-content{
    width: 450px;
    height: 300px;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 50;
    margin-bottom: 20px;

    margin-top: 50px;

}
.title3 h3{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin: 15px;
    margin-left: 0;
    

}
.title3  p{
    margin: 20px;
    padding: 10px;

}
.members{
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin: 50px;
}
.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*section5*/
.info-content{
    width: 450px;
    height: 300px;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 50;
    margin-bottom: 20px;

    margin-top: 50px;

}
.title4 h3{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin: 15px;
    margin-left: 0;
    

}
.main-box{
    width: 400px;
    height: 300px;
   
    

}
.longer-box{
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

.box1{
    height: 150px;
    width: 50%;
    border: 1px solid black;
    margin: 10px;

}
.longer-box h4{
text-align: center;
font-weight: bold;
margin: 5px;
padding: 5px;

}
.longer-box p{
    font-size: 15px;
    letter-spacing: -2%;
    padding: 5px;
}
.box1 h5{
    text-align: center;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}
.fifth{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*section6*/
.title6{
    height: 64px;
   
    margin: 20px;

}
.title6 h2{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    
}
.description2{
    height: 64px;
   
    margin: 10x;
    width: 600px;
    margin: 0 auto;

}
.description2 p{
    padding: 5px;
    font-weight: normal;
    font-size: 18px;
}
.card-num1{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: #FFFFFF;
    margin: 20px;
}
.card-title{
    height: 64px;
    margin: 10px;

}
.card-title h4{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;

}
.paragraph{
    height: 84px;
    

}
.paragraph p{
    padding: 10px;
    font-size: 15px;
    font-weight: normal;
}
.card-num1{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: #FFFFFF;
}
.card-title{
    height: 64px;
    ;
    margin: 10px;

}
.card-title h4{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;


}
.paragraph{
    height: 84px;
    

}
.paragraph p{
    padding: 10px;
    font-size: 15px;
    font-weight: normal;
}
.card-num1{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: #FFFFFF;
}
.card-title{
    height: 64px;
   
    margin: 10px;

}
.card-title h4{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;}
    .cards2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .heading7{
        height: 248px;
        width: 500px;
    
        margin-left: 56px;
        margin-top: 154px;
    }
.heading7 h1{
    height: 64px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    font-size: 38px;
    margin: 10px;
    
}
    
.heading7 p{
    font-weight: normal;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    padding: 10px;
    height: 52px;
}
.accsess{
    width: 120px;
    height: 50px;
    border: 1px solid black;
    background-color: #71A894;
    margin: 20px;
    border-radius: 8px;
}
.image7{
    weight: 500px;
    height: 300px;
    Margin: 10px;
    margin-top: 154px;
    
}
.seven{
    display: flex;

}
/*footer */
footer{
    height: 50px;
    
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;


}
.content2 h2{
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    padding: 10px;

}
.navbar2 ul{
    display: flex;
}

.navbar2 li:last-child a{
    color:#71A894;
}
.navbar2 li{
    font-size: 18px;

    font-weight: 500;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;
    
}
.navbar2 li a{
    color: #303031;
}